---
import Nav from "../component/Nav.astro";
import Footer from "../component/Footer.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="Fibble Academy | Innovating the future">
  <Nav />
  <main>
    Fibble Academy is a place where dreams come alive, we are diverse in
    learning, and open to any culture and background. Discover vast variety of
    new tools to learn and grow at your own pace. We are committed to ensure we
    deliver an adventerous journey like you have never had before.
  </main>

  <Footer />
</BaseLayout>
