---
import Header from "../component/Header.astro";
import Footer from "../component/Footer.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
  <Header />
  <h1>Astro</h1>
  <Footer />
</BaseLayout>
