---
import Nav from "../component/Nav.astro";
import Footer from "../component/Footer.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import Main from "../component/Main.astro";
import ButtonComponent from "../component/ButtonComponent.astro";
{
  /*Button components */
}
// import { Image } from "astro:assets";
---

<BaseLayout title="Fibble Academy | Innovating the future">
  <Nav />
  <Main>
    <!-- Hero section -->
    <section class="hero">
      <div class="container">
        <div class="hero__contents">
          <h1 class="hero__title">Re-Imagining the future through AI</h1>
          <p class="hero__description">
            We offer a supportive environment where you can <span
              >learn and grow</span
            >, and we provide you the necessary tools and resources you need for
            to thrive.
          </p>
          <a class="cta hero__cta" href="#"> Get Started </a>
        </div>
        <div class="image flex items-center justify-center">
          <a href="#"><img src="./image/icons/android-icon.png" alt="" /></a>
          <a href="#"><img src="./image/icons/apple-icon.png" alt="" /></a>
        </div>
      </div>
    </section>

    <!-- Courses Section

    <section class="courses">
      <div class="container">
        <div class="courses__content-wrapper">
          <h2 class="courses__subtitle">
            <span>Our Courses</span>
          </h2>
          <p class="courses__description">
            Choose and develop yourself from our wide range of courses, and
            catch up on the latest gigs and trends
          </p>
        </div>

        <div class="course-items">
          <div class="card">
            <img src="./image/ui_ux_design.png" alt="ui/ux design" />
            <div class="card__body">
              <h3 class="card__main-title">
                Introduction to Artificial Intelligence (AI)
              </h3>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum,
                aliquam?
              </p>
            </div>
          </div>

          <div class="card">
            <img src="./image/graphic_design.png" alt="" />
            <div class="card__body">
              <h3 class="card__main-title">Introduction to Deep Learning</h3>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                tenetur repellendus architecto eum eos fuga.
              </p>
            </div>
          </div>

          <div class="card">
            <img src="./image/web_design.png" alt="" />
            <div class="card__body">
              <h3 class="card__main-title">Cognitive Computing Training</h3>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus enim blanditiis cum?
              </p>
            </div>
          </div>

          <div class="card">
            <img src="./image/wireframe_design.png" alt="" />
            <div class="card__body">
              <h3 class="card__main-title">
                Artificial Intelligence (AI) for Farmers
              </h3>
              <p class="card__description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo
                illum quo ullam!
              </p>
            </div>
          </div>

          <div class="card">
            <img src="./image/product-design.png" alt="" />
            <div class="card__body">
              <h3 class="card__main-title">
                Artificial Intelligence (AI) for Entreprenuers
              </h3>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati minima quaerat omnis architecto?
              </p>
            </div>
          </div>

          <div class="card">
            <img src="./image/programming1.png" alt="" />
            <div class="card__body">
              <h3 class="card__main-title">
                Deep Learning with TensorFlow Training
              </h3>
              <p class="card__description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Pariatur laborum adipisci ea accusamus voluptas!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Tutor section -->

    <section class="tutor">
      <div class="container">
        <h2 class="tutor__subtitle">Meet with the experts</h2>

        <!-- use backgroundColor and image, text should be centralized  -->
        <ul>
          <li>
            <!-- <Image /> -->
            <img class="tutor__img" src="/images/instructor-1.jpg" alt="" />
            <div class="tutor__details">
              <p class="tutor-name">Z&ouml;e Simon</p>
              <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin"></i>
              </div>
            </div>
          </li>

          <li>
            <img class="tutor__img" src="/images/instructor-2.jpg" alt="" />
            <div class="tutor__details">
              <p class="tutor-name">Kimberly Hudson</p>
              <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin"></i>
              </div>
            </div>
          </li>

          <li>
            <img class="tutor__img" src="/images/instructor-3.jpg" alt="" />

            <div class="tutor__details">
              <p class="tutor-name">Kierra Sam</p>

              <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin"></i>
              </div>
            </div>
          </li>

          <li>
            <img class="tutor__img" src="/images/instructor-4.jpg" alt="" />
            
            <div class="tutor__details">
              <p class="tutor-name">Matt Gardner</p>
              <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    {/*Testimonial section  */}

    <section class="review">
      <div class="container">
        <h2 class="review__section-title">
          Here's what the community is saying about Fibble Academy
        </h2>

        {/* Use JavaScript to make item slide */}
        <ul>
          <li>
            <div class="review__header">
              <img src="/images/pic-1.jpg" />

              <div>
                <span class="student-name">Isaac Dominic</span>
                <span class="student-course"
                  >Introduction to Artificial Intelligence (AI)</span
                >

                <p>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star-half"></i></span>
                  (128,000 reviews)
                </p>
              </div>
            </div>

            <div>
              <blockquote>
                I'm so glad I decided to learn Introduction to Artificial
                Intelligence at Fibble Academy. The instructors are incredibly
                knowledgeable and passionate about their work, and they really
                took the time to help each student succeed. I've learnt so much
                in just a short time, and I'm confident that I have the skills I
                need to start a career in Artificial Intelligence.
              </blockquote>
            </div>
          </li>

          <!-- <li>
            <div>
              <img src="./image/pic-2.jpg" alt="" />
              <div>
                <span>Semeya Rodriguez</span>
                <span>Artificial Intelligence (AI) for Entreprenuers</span>
                <div>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  (128,000 reviews)
                </div>
                <button class="btn show-review">Show review</button>
              </div>
            </div>

            <div>
              <blockquote class="comment">
                I'm thrilled to be here at Fibble Academy. The instructors are
                experts in their field and they really know how to teach. They
                break down complex concepts into easy-to-understand terms, and
                they're always available to answer questions. I'm also really
                impressed with the quality of the course materials. They're
                comprehensive and up-to-date, and they cover everything you need
                to know to become successful. As an entrepreneur who loves to implement the features of AI in my organization, 
                I highly recommend Fibble Academy to anyone who's interested in learning Artificial Intelligence.
              </blockquote>
            </div>
          </li>

          <li>
            <div>
              <img src="./image/pic-3.jpg" alt="" />
              <div>
                <span>Ashleigh Mona</span>
                <span>Introduction to deep learning</span>
                <div>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  (128,000 reviews)
                </div>
                <button class="btn show-review">Show review</button>
              </div>
            </div>

            <div>
              <blockquote class="comment">
                I really really love the way Kimberly breaks down each contents
                they are comprehensive and well-structured. I've learnt so much
                in a short amount of time, and I feel confident that I can now
                implement and use AI in deep learning. One of
                the things I appreciate most about Fibble Academy is the focus on
                hands-on learning. We get to apply what we learn in the courses
                to real-world projects, which helps us solidify our knowledge
                and skills.
              </blockquote>
            </div>
          </li> -->
        </ul>
      </div>
    </section>

    {/* Contact section */}

    <section class="contact">
      <div class="container">
        <h2 class="contact__title">Feel free to reach out to us anytime</h2>

        <div>
          <div>
            <h2 class="contact__subtitle">Get in touch</h2>
            <p>
              Use our contact form for all information requests or contact us
             directly using the contact information below.
            </p>
            <hr />
            <div>
              <img src="./image/icons/location-icon.svg" alt="location-icon" />
              <div>
                <h3>Our office Location</h3>
                <p>
                  The interior design company <br />
                  The courtyard, AI Quoz 1, Colorado, USA
                </p>
              </div>
            </div>
            <div class="contact-details">
              <img src="./image/icons/Phone-square-icon.svg" alt="phone-icon" />
              <div>
                <h3>Phone (Landline)</h3>
                <p>+1 (555) 800 6564</p>
              </div>
            </div>
          </div>
          <form method="post" name="contact-form" autocomplete="on" id="form">
            <div>
              <div class="form-control">
                <label for="contact-name">Name <span>*</span></label>
                <br />
                <input
                  tabindex="11"
                  type="text"
                  name="contact-name"
                  id="contact-name"
                  placeholder="Your Name"
                  title="please fill out your name"
                  required
                />
              </div>
              <div class="form-control">
                <label for="contact-mail">Email <span>*</span></label>
                <br />
                <input
                  tabindex="12"
                  type="email"
                  name="contact-mail"
                  id="contact-mail"
                  placeholder="Your email"
                  title="please fill out your email address"
                  required
                />
              </div>
            </div>
            <div class="form-control">
              <label for="contact-message">Message</label>
              <br />
              <textarea
                tabindex="13"
                name="contact-message"
                id="contact-message"
                cols="30"
                rows="20"
                placeholder="enter your message here"
                maxlength="255"
                title="type your message"
              >
              </textarea>
            </div>
            <button type="submit" class="btn msg-btn"> send a message </button>
          </form>
        </div>
      </div>
    </section>
  </Main>

  <Footer />
</BaseLayout>
