---
import Nav from "../component/Nav.astro";
import Footer from "../component/Footer.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="Fibble Academy | Innovating the future">
  <Nav />
  <main>pricing Select a price Basic $74/3mon Standard $89/6mon</main>

  <Footer />
</BaseLayout>
