---
import Nav from "../component/Nav.astro";
import Footer from "../component/Footer.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import Main from "../component/Main.astro";
---

<BaseLayout title="Fibble Academy | Innovating the future">
  <Nav />
  <Main>Resources</Main>

  <Footer />
</BaseLayout>
