---
import styles from "styles/global.scss";
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta
    name="keywords"
    content="AI/ML, CyberSecurity, Data Science, Web Development, DevOps, Software Engineering, Software Development, Tech"
  />

  <link rel="shortcut icon" href="/image/icons/f-ico.png" type="image/x-icon" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />

  <title>{title}</title>
</head>
