<footer class="footer">
  <div class="container">
    <div class="brand-wrapper">
      <a href="/" class="brand-name">
        <span>Fibble Academy</span>
      </a>
    </div>

    <div class="footer__content">
      <ul class="footer__sitemap">
        <li>
          <a class="footer__sitemap-link" href="#" tabindex="-1">Careers</a>
        </li>
        <li>
          <a class="footer__sitemap-link" href="#" tabindex="-1">Cookies</a>
        </li>
        <li>
          <a class="footer__sitemap-link" href="#" tabindex="-1">Support</a>
        </li>
        <li><a class="footer__sitemap-link" href="#" tabindex="-1">News</a></li>
      </ul>

      <ul class="footer__sitemap">
        <li>
          <a class="footer__sitemap-link" href="#" tabindex="-1"
            >Discover Fibble Academy</a
          >
        </li>
        <li>
          <a class="footer__sitemap-link" href="#" tabindex="-1">Privacy</a>
        </li>
        <li>
          <a class="footer__sitemap-link" href="/about" tabindex="-1"
            >About us</a
          >
        </li>
        <li>
          <a class="footer__sitemap-link" href="/faq" tabindex="-1">FAQs</a>
        </li>
      </ul>
      <!-- download option icons should be placed here -->

      <ul data-get-app>
        <p data-text>Download Our App</p>
        <li data-app>
          <a href="">
            <img src="/icons/android-icon.png" />
          </a>
        </li>
        <li data-app>
          <a href="">
            <img src="/icons/apple-icon.png" />
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__credit">
      <div class="container">
        <p data-follow-text>Follow us on</p>
        <ul class="footer__social-links-wrapper">
          <li class="social-links">
            <a href="#">
              <img
                src="/icons/facebook.svg"
                aria-labelledby="link to facebook"
              />
            </a>
          </li>

          <li class="social-links">
            <a href="#">
              <img src="/icons/twitter.svg" aria-labelledby="link to twitter" />
            </a>
          </li>
          <li class="social-links">
            <a href="#">
              <img
                src="/icons/instagram.svg"
                aria-labelledby="link to Instagram"
              />
            </a>
          </li>
        </ul>
        <p data-credit>
          This website is powered by <a href="https://vercel.com">Vercel</a> Inc
        </p>
        <p class="copyright">
          &copy; 2023 Fibble Academy Inc. Trademarks and brands are the property
          of their respective owners.
        </p>
      </div>
    </div>
  </div>
</footer>
