<footer>
  <div class="footer-body">
    <div class="container">
      <div>
        <span><a href="#" tabindex="15">Fibble Academy</a></span>
      </div>
      <div>
        <ul class="flex">
          <li><a class="footer-link" href="#" tabindex="16">Careers</a></li>
          <li><a class="footer-link" href="#" tabindex="17">Cookies</a></li>
          <li><a class="footer-link" href="#" tabindex="18">Support</a></li>
          <li><a class="footer-link" href="#" tabindex="19">News</a></li>
          <li>
            <a class="footer-link" href="#" tabindex="19"
              >Discover Fibble Academy</a
            >
          </li>
          <li><a class="footer-link" href="#" tabindex="20">Privacy</a></li>
          <li>
            <a class="footer-link" href="about.html" tabindex="21">About us</a>
          </li>
          <li><a class="footer-link" href="#" tabindex="22">FAQs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-credit">
    <div class="container">
      <p>Follow us on</p>
      <ul class="footer-social-links">
        <li class="social-links">
          <a href="#">
            <img
              src="./image/icons/facebook.svg"
              aria-labelledby="link to facebook"
            />
          </a>
        </li>
        <li class="social-links">
          <a href="#">
            <img
              src="./image/icons/twitter.svg"
              aria-labelledby="link to twitter"
            />
          </a>
        </li>
        <li class="social-links">
          <a href="#">
            <img
              src="./image/icons/instagram.svg"
              aria-labelledby="link to Instagram"
            />
          </a>
        </li>
      </ul>
      <p class="copyright">
        &copy; 2023 Fibble Academy Inc. Trademarks and brands are the property
        of their respective owners.
      </p>
    </div>
  </div>
</footer>
