<nav class="navbar">
  <div class="container">
    <!-- Mobile Navigation - Show on mobile devices and hide on desktop -->

    <!-- <div class="nav nav--sm">
      
      <div class="brand-wrapper">
        <a href="/" class="brand-name">
          <span>Fibble Academy</span>
        </a>
      </div>

       <ul class="row">
        <li>
          <img src="/icons/search.svg" alt="search_icon" data-search-icon />
        </li>
        <li>
          <a href="/signup.astro" class="cta signup--cta">
            <span>Sign Up</span>
          </a>
        </li>
      </ul>
    </div> -->

    <!-- Desktop Navigation - show on Desktop and hide on mobile -->

    <div class="nav nav--lg">
      <button data-toggler class="nav__toggler">
        <i class="fas fa-bars"></i>
      </button>

      <div class="brand-wrapper">
        <a href="/" class="brand-name">
          <span>Fibble Academy</span>
        </a>
      </div>

      <ul class="nav__items">
        <li>
          <a href="/learn" data-astro-prefetch="hover">Learn</a>
        </li>
        <li>
          <a href="/pricing">Pricing</a>
        </li>
        <li>
          <a href="/resources">Resources</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>

      <ul class="row">
        <li>
          <img src="/icons/search.svg" alt="search_icon" data-search-icon />
        </li>
        <li>
          <a href="/signup.astro" class="cta signup--cta">
            <span>Sign Up</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
